*{
    margin: 0;
    padding: 0;

}
body{
    background-color: white;
}
.wrapper{
    width: 980px;
    margin: 0 auto;
}
#top-header{
    height: 90px;
    background-color: rgb(0, 0, 0);
    display: flex;

}
#top-header a{
  line-height: 90px;
  margin-left: 30px;
  text-decoration: none;
  color: white;
  font-weight: bold;

}
#logo-header{
    margin-left: 180px;
}
#main-header{
    height: 70px;
    display: flex;
    background-color: #777777;
    
}
#menu{
    display: flex;
    line-height: 70px;
    list-style: none;
    margin-left: 30px;
}
#menu a {
    text-decoration: none;
    margin-right: 40px;
    color: black;
    font-weight: 200;
}
#main-header input{
    height: 30px;
    width:200px ;
    background-color:white;
    outline: none;
    border: none;
}
#main-header button{
    padding: 8px 10px;
    background-color: #ccc;
    border: none;
    outline: none;
}
#login{
    line-height: 70px;
    margin-left:250px;
}
.card {
    margin: auto 0;
    margin-left: 250px;
    width: 50px;
    height: 50px;
    display: flex;
    color: white;
}
.card span{
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
}
.card img{
    width: 100%;
    height: 100%;

}
.banner{
    margin-top: 30px;
    width: 980px;
    height: 400px;
}
.banner img{
    width: 100%;
    height: 100%;
}
#name-sale {
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
}

#name-gender{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
}
.product{
    margin: 30px;
    display: flex;
   
   
   
}
img{
    width: 100%;
    height: 100%;
}
.product-main{
   padding: 10px 0px;
   width: 230px;
   background-color: white;
   text-align: center;
   margin-right: 30px;
   
 
}
.product-main img{
    width: 150px;
    height: 150px;
}
#name-product{
    font-size: 20px;
    font-weight: 200;
}
#code-product{
    font-size: 20px;
    font-weight: 200;
}
#price-product{
    font-size: 25px;
    color: red;
    font-weight: bold;
}
#add-card{
    background-color: #6667ab;
    text-align: center;
    outline: none;
    border: none;
    padding: 10px;
}
.product-main:hover{
    box-shadow: -3px 6px 15px 5px #888888;
}
.footer{
    background-color: #353535;
    width: 980px;
    min-height: 30px;
    justify-content: space-around;
    margin-top: 15px;

}
.footer-main{
    display: flex;
    justify-content: space-around;
}
#muc1 p{
    text-decoration: none;
    color: darkgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}
#muc2 p{
    text-decoration: none;
    color: darkgrey;
    margin-top: 10px;
}
#muc3 i{
    margin-top: 10px;
    margin-left: 10px;
}
#muc1 a{
    text-decoration: none;
}
#muc2 a{
    text-decoration: none;
}

i{
    color: black;
    font-size: 20px;
    
}
#muc1 h4{
    margin-top: 10px;
}
#muc2 h4{
    margin-top: 10px;
}
#muc3 h4{
    margin-top: 10px;
}
.logo{
    margin-left: -58px;
}
.footer-tk{
    padding: 10px;
}
.footer-tk p{
    color: #ccc;
    text-align: center;
}
.showgiohang{
    position: absolute;
    z-index: 10;
    right: 300px;
    top: 70px;  
    color: white;
    background-color: #6667ab;
    
    padding: 10px 10px;
    border-radius: 10px;
}
.showgiohang img{
    width: 100px;
    height: 100px;
}